.form-horizontal{
  padding:10px;
}
.form-group1{
    display: flex;
    flex-direction: row;
    padding: 8px;
    height: 60px;
  }
  #Firstnumber{
    border-style:double;
    border-radius: 8px;
    border-color: rgb(228, 224, 224);
    height: 40px;
  }
.form-group2{
    display: flex;
    flex-direction: row;
    padding: 8px;
    height: 60px;
  }
  #Secondnumber{
    border-style: double;
    border-radius: 8px;
    border-color: rgb(228, 224, 224);
    height: 40px;
  }
  .add{
    margin: 10px;
    height: 40px;
    width: 80px;
    text-align: center;
  }
  .finalresult{
    margin: 20px;
    font-size: 20px;
  }
  .introlink{
    margin: 20px;
  }